.main {
    max-width: 1140px;
    display: grid;
    grid-template-columns: 366px 1fr;
    gap: 20px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 120px;
}

.patuent {
    height: 100%;
}