@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
  font-family:'SF Pro Display', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F1F2F3;

  body {
    margin: 0;
    padding: 0;
  }
}

